version: 2
jobs:
  build:
    docker:
      - image: cypress/base:8

    steps:
      - add_ssh_keys
      - checkout
      - restore_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          key: v1-deps-{{ .Branch }}
          key: v1-deps
      - run: npm ci
      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run: npm run build:mocked
      - run: node ./scripts/demoComment.js
      - store_artifacts:
          path: dist
      - run: npm run cypress:test
      - run: node ./scripts/videoComment.js
      - store_artifacts:
          path: cypress/videos
