version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10

    steps:
      - add_ssh_keys
      - checkout
      - restore_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          key: v1-deps-{{ .Branch }}
          key: v1-deps
      - run: npm ci
      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run: npm run build
      - run: node ./scripts/demo.js
      - store_artifacts:
          path: dist
